@Styles.Render("~/Content/topnav")
@Styles.Render("~/Content/home")
@Styles.Render("~/Content/login")

<div class="topnav" style="height:48px">
    <img src="~/Content/Images/marker.png" class="marker-shape">
    <a class="active">Home</a>
    <a href="AddManager" style="width:125px">Add Manager</a>
    <a href="Managers" style="width: 80px">Managers</a>
    <a onclick="logout()" style="float:right">Logout</a>

</div>

<div class="box">
    <div class="left-div" id="bins">
        @Html.Partial("_BinsList", new List<Unihack.Web.Models.BinViewModel>())
    </div>

    @*<div class="right-div" id="map"></div>
        <script>
            var map;
            function initMap() {
                debugger;
                //EasyLoading.show();
                var uluru = { lat: 45.746746, lng: 21.237650 };

                map = new google.maps.Map(document.getElementById('map'), {
                    center: {
                        lat: 45.746746, lng: 21.237650
                    },
                    zoom: 15
                });

                //AjaxHelper.getWithoutData('Bins/GetBins',
                //    function success(data) {
                //        debugger
                //        if (data) {
                //            var array = JSON.parse(data)
                //            array.map((item) => {
                //                new google.maps.Marker({ position: { lat: item.Latitude, lng: item.Longitude }, map: map });
                //            })
                //        }
                //    },
                //    function error(data) {

                //    }
                //)
                var marker = new google.maps.Marker({ position: uluru, map: map });

                //AjaxHelper.getViewWithoutData("/Issues/GetIssues",
                //    function (result) {
                //        $("#partial-view").html(result);
                //    },
                //    function (err) {

                //    }
                //)
                //EasyLoading.hide();
            }
        </script>*@
</div>
@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVJJvAhR9xX9ZGkgTDP5Ix0UDY8_Ox_pg&callback=initMap"
    async defer></script>*@
<script>
    $(document).ready(function () {
        debugger
        AjaxHelper.getViewWithoutData("Home/GetBins",
            function (result) {
                debugger
                $("#bins").html(result);
            },
            function (err) {

            }
        )
    });
</script>
@Scripts.Render("~/bundles/home")